@model IEnumerable<ArtAndYou.Models.Survey2>

@{
    ViewBag.Title = "Index";
    var x = Model.ToList();

}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<form name="Medium" id="Choice2" action="@Url.Action("Show4Survey2", "SurveyFinal")" method="get">>

    <table class="table">
        <tr>

            @for (var item = 0; item < 3; item++)
            {


                <td>
                    
                    <input type="radio" name="Year" value="@x[item].Year.Trim()">

                    <img src="@Url.Content(@x[item].ImageUrl)" height="200" />
                </td>

            }
        </tr>
        <tr>

            @for (var item = 4; item < x.Count; item++)
            {


                <td>
                    <input type="radio" name="Year" value="@x[item].Year">

                    <img src="@Url.Content(@x[item].ImageUrl)" height="200" />
                </td>

            }
        </tr>
        @*<tr>
            @foreach (var item in Model)
            {
                <td>
                    <input type="radio" name="Year" value=@item.Year>
                    <img src="@Url.Content(item.ImageUrl)" height="200" />
                </td>
            }
        </tr>*@
    </table>
    <input type="submit" id="ClassSubmit" value="Submit">
</form>