@model IEnumerable<ArtAndYou.Models.Survey1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<form name="Medium" id="Choice1" onsubmit="return validateForm()" action="@Url.Action("ClassEdit", "Medium")" method="get">

    <table class="table">
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>*@

        <tr>
            @foreach (var item in Model)
            {
                <td>
                    <input type="radio" name="Classification" value="@item.Medium">
                    <img src="@Url.Content(item.ImageUrl)" height="200" />
                </td>
                

            }
        </tr>

    </table>
    <input type="submit" id="ClassSubmit" value="Submit">
</form>

