@model ArtAndYou.Models.FINALRESULT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FINALRESULT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Century)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Century)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Genre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
